<% layout("/layout/boilerplate")%>

<body>
  <div class="d-flex justify-content-around all-tests">
    <div class="flex flex-col gap-2 w-40">
    <p class="h3 mb-5">All Tests</p>
    <div class="tests">
      <% tests.forEach(element => { %>
        <div class="card-body border rounded mb-2 p-2">
        <a href="/teacher/tests/<%=element._id%>" class="card-title"
          ><%= element.title%></a
        >
        <p><%=element.testCode%></p>
        <p class="card-text"><%= element.owner.displayName %></p>
        <div>
          <span>LiveAt:</span>
          <div id="timer-container">
            <p id="time" style="display: none"><%= element.liveAt%></p>
            <p id="timer"></p>
          </div>
        </div>
        <form action="/tests/<%= element._id%>?_method=Delete" method="post">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </div>
      <% }) %>
    </div>
    </div>
    <div class="border-end-1 border border-tertiary mt-5" style="height: 500px;"></div>
    <div class="w-40">
        <p class="h3 mb-5">Create a New Test</p>
      <form action="/teacher/tests" method="post" class="border p-4 h-75 border-info rounded">
        <div class="mb-3">
          <label for="title" class="form-label">Test Name</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="date" class="form-label">Date</label>
            <input
            class="form-control"
            type="date"
            id="date"
            name="date"
            value="2024-03-01"
            max="2024-12-31"
            required
            />
          </div>
          
          <div class="mb-3 col-md-6">
            <label class="form-label" for="liveAt">Time</label>
            <input
            type="time"
            id="testTime"
            class="form-control"
            name="date"
            value="00:00"
            required
            />
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Category --</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Add Test</button>
      </form>
    </div>
  </div>
</body>

<script>
  let date = document.querySelector("#date");
  let todayDate = new Date();
  let tMonth = todayDate.getMonth() + 1;
  let tDate = todayDate.getDate();
  let tMinute = todayDate.getMinutes();
  let tHour = todayDate.getHours();

  if (tMonth < 10) {
    tMonth = "0" + tMonth;
  }
  if (tDate < 10) {
    tDate = "0" + tDate;
  }
  if (tMinute < 10) {
    tMinute = "0" + tMinute;
  }
  if (tHour < 10) {
    tHour = "0" + tHour;
  }
  let today = `${todayDate.getFullYear()}-${tMonth}-${tDate}`;
  console.log(today);
  date.setAttribute("min", today);
  date.setAttribute("value", today);
  let testTime = document.querySelector("#testTime");
  testTime.setAttribute("min", `${tHour}:${tMinute}`);
  console.log(`${tHour}:${tMinute}`);
  date.addEventListener("change", () => {
    if (date.value == today) {
      testTime.setAttribute("min", `${tHour}:${tMinute}`);
    } else {
      testTime.setAttribute("min", "");
    }
  });

  let todayDateTest = new Date();
  let todayTest = `${todayDateTest.getFullYear()}-0${
    todayDateTest.getMonth() + 1
  }-${todayDateTest.getDate()}`;

  let allTime = document.querySelectorAll("#timer-container");
  allTime.forEach((element) => {
    let newDate = new Date(element.children[0].innerHTML).getTime();
    var x = setInterval(function () {
      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = newDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      element.children[1].innerHTML =
        days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

      // If the count down is finished, write some text
      if (distance >= -60000 && distance <= 0) {
        element.children[1].innerHTML = "LIVE";
      }
      if (distance < -60000) {
        clearInterval(x);
        element.children[1].innerHTML = "EXPIRED";
      }
    }, 1000);
  });
</script>
