<% layout("/layout/boilerplate") %>

<body>
    <div class="p-4">
        <div class="flex flex-col gap-2">
            <% tests.forEach(element => { %>
                <div class="card-body border rounded mb-2 p-2">
                    <a href="/tests/<%=element._id%>" class="card-title"><%= element.title%></a>
                    <p class="card-text"><%= element.owner.displayName %></p>
                    <div>
                        <span>LiveAt:</span>
                        <div id="timer-container">
                            <p id="time" style="display: none"><%= element.liveAt%></p>
                            <p id="timer"></p>
                        </div>
                    </div>
                    <form action="/tests/<%= element._id%>?_method=Delete" method="post" >
                        <button type="submit" class="btn btn-danger btn-sm">Danger</button>
                    </form>  
                </div> 
                <% }) %>
            </div>
        </div>
    </div>
    <script>
        let date = document.querySelector("#date");
        let todayDate = new Date();
        let today = `${todayDate.getFullYear()}-0${todayDate.getMonth()+1}-${todayDate.getDate()}`;

        let allTime = document.querySelectorAll("#timer-container");
        allTime.forEach((element)=>{
            let newDate = new Date(element.children[0].innerHTML).getTime();
            var x = setInterval(function() {
                
                    // Get today's date and time
                    var now = new Date().getTime();
                
                    // Find the distance between now and the count down date
                    var distance = newDate - now;
                
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
                    // Display the result in the element with id="demo"
                    element.children[1].innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";
                
                    // If the count down is finished, write some text
                    if(distance >= -60000 && distance <= 0){
                        element.children[1].innerHTML = "LIVE";
                    }
                    if (distance < -60000) {
                            clearInterval(x);
                            element.children[1].innerHTML = "EXPIRED";
                        }
                    }, 1000);
            })
    </script>
</body>

